</head>
<body>
    <h1>Total de itens na coleção: ${totalItems} </h1>

    <div class="block">
        <h2>Itens</h2>
        <div class="input-field">
            <label for="number1">Total de itens</label>
            <input type="number" id="number1" value= ${totalItems}>
        </div>
    </div>

    <div class="block">
        <h2>E/S dados</h2>
        <div class="input-field">
            <label for="number2">E/S do BD:</label>
            <input type="number" id="number2">
        </div>
    </div>
</body>
</html>
