<h3> Adicionar um item ao inventário:</h2>

<form action="/add" method="POST">
   
   <div class="row">
   
        <div class="col">
            <label for "title" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Cabo de vela">
        </div>

        <div class="col">
            <label for "qrcode" class="form-label">Marca</label>
            <input type="text" class="form-control" id="brand" name="brand" placeholder="Marelli">
        </div>

   </div>


    <div class="mb-3">
        <label for "qrcode" class="form-label">Código do QRCODE</label>
        <input type="text" class="form-control" id="qrcode" name="qrcode" placeholder=" O código possui nove dígitos">
    </div>

    <div class="mb-3">
        <label for "description" class="form-label">Descrição do produto</label>
        <textarea class="form-control" name="description" placeholder="Adicione detalhes do produto"></textarea>
    </div>

<div class="btnfix">
    <button type="submit" class="btn btnfix btn-secondary btn-lg btn-dark">Adicionar ao inventário</button>
</div>
</form>